@use 'variables' as *;

@mixin section {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 30rem;
    height: 40rem;
    margin-top: 2.5rem;
    margin-right: 2rem;
    background-color: white;
    border-top: 4px solid;
    border-radius: 1.2rem;
    box-shadow: 1rem 1.8rem 2rem rgba(164, 174, 197, 0.324);
}

@mixin image {
    background-repeat: no-repeat;
    background-size: 5.5rem;
    background-position: (21.8rem 13.5rem);
}