$Red: hsl(0, 78%, 63%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(46, 72%, 51%);
$Black: hsl(0, 0%, 0%);

$Very-Dark-Blue: hsl(234, 12%, 34%);
$Grayish-Blue: hsl(229, 6%, 66%);
$Very-Light-Gray: hsl(0, 0%, 98%);